{% extends 'basic_app/base.html' %}
{% load staticfiles %}



{% block body_block %}
    
    <div class="jumbotron">
        
        {% if registered %}
            <h1>Thankyou for registering</h1>

        {% else %}
            <h1>Register Here</h1>
            <h3>Fillout the form!</h3>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <input type="submit" value="Submit">
            </form>
        {% endif %}
            
    </div>

{% endblock body_block %}
    